<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <title>Form-Alumnos</title>
	</head>
	<body>
        <div>
		<h1>Formulario de Alumnos</h1>
        <form action="/alumnos" method="POST">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" />
            <label for="apellido">Apellido</label>
            <input type="text" name="apellido" id="apellido" />
            <label for="edad">Edad</label>
            <input type="number" name="edad" id="edad" />
            <label for="curso">Curso</label>
            <input type="text" name="curso" id="curso" />
            <button type="submit">Enviar</button>
        </div>
	</body>
</html>
